.container{
    width: 100%;
    height: 100vh;
    background: black;
    padding: 30px;
    gap: 10px;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}

.container .section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .section.img{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10px;
}

.container .section .title{
    font-family: "Manrope";
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
}

.container .section .wrapper{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .section .separator{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    justify-content: center;
    font-family: "Manrope";
    align-items: center;
    gap: 10px;
    color: #9d9d9d;
    padding: 10px;
    font-size: 10px;
}

.container .section.img .logo{
    width: 50%;
    height: auto;
}

.container .section .separator .line{
    width: 100%;
    height: 1px;
    background: #9d9d9d;
}


.container .section .cnd{
    margin-top: 20px;
    color: white;
    font-family: "Manrope";
    font-size: 12px;
    text-align: center;
    font-weight: 200;
}

.container .section .subhead{
    font-family: "Manrope";
    color: white;
    font-size: 13px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 946px) {
    .container {
        grid-template-columns: 1fr;
        padding: 40px 30px;
    }

    .container .section.img {
        padding: 20px 0;
    }

    .container .section.img .logo {
        width: 30%;
    }
    .container .section .wrapper{
        width: 80%;
    }
}