.button{
    width: 100%;
    height: max-content;
    padding: 9px 32px;
    font-size: 13px;
    border-radius: 50px;
    font-family: "Manrope";
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.light{
    background: white;
    color: black;
    border: 1px solid black;
}

.button.dark{
    color: white;
    background: black;
    border: 1px solid white;
}

.button.dark:hover{
    background: white;
    color: black;
    border: 1px solid black;
}

.button.light.disabled{
    background: #b0b0b0;
}