.container-ot {
    padding: 0;
    gap: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container-ot .head {
    color: white;
    font-family: "Manrope";
}

.container-ot .topbar {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #75757569;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    overflow: hidden;
    color: white;
}

.container-ot .topbar .wrap {
    display: flex;
    gap: 10px;
    align-items: center;
}

.container-ot .topbar .wrap .title {
    font-family: "Kode mono";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.container-ot .topbar .wrap .logo {
    width: 30px;
    height: auto;
}

.container-ot .bottom {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

.container-ot .esection {
    background: #0d0d0d;
    max-height: max-content;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
}

.container-ot .esection .anim {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.container-ot .esection .head {
    font-size: 20px;
    font-weight: 600;
}

.container-ot .esection .sub {
    color: white;
    font-size: 14px;
    font-family: "Manrope";
    color: #d1d1d1;
    width: 40%;
    text-align: center;
}

.container-ot .esection .inpwrapper {
    width: 40%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container-ot .esection .search {
    width: 100%;
    height: 45px;
    border: 1px solid grey;
    background: #1b1b1b;
    color: white;
    padding: 0 20px;
    border-radius: 50px;
    font-family: "Manrope";
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    background: linear-gradient(to left, #1b1b1b, black);
}

.container-ot .esection .inpwrapper .cam {
    width: 50px;
    height: 45px;
    border: 1px solid grey;
    background: linear-gradient(to right, #1b1b1b, black);
    color: white;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.container-ot .esection .profiles {
    width: 100%;
    height: 250px;
    background: red;
}


.container-ot .esection .cards {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: 1px solid #75757569;
    overflow-y: scroll;

}

.container-ot .esection .cards .card {
    width: 100%;
    height: max-content;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.container-ot .esection .cards .card:hover {
    background: #1e1e1e;
}

.container-ot .esection .cards .card .banner {
    width: 100%;
    border: 1px solid #2c2c2c;
    height: 120px;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.169)), url("../../assets/noise.png");
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Kode mono";
    font-weight: 700;
    font-size: 26px;
}

.container-ot .esection .cards .card .news-details {
    width: 100%;
    height: max-content;
    font-family: "Manrope";
    color: #acacac;
    font-size: 12px;
    padding: 10px;
}