.mt{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: black;
}

.mt .topbar {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #75757569;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: white;
    font-family: "Kode Mono";
    gap: 10px;
    justify-content: space-between;
}

.mt .topbar div {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mt .topbar div.btns {
    font-size: 13px;
    width: max-content;
    height: max-content;
    padding: 6px 14px;
    /* border: 1px solid #8ff52a36; */
    background: linear-gradient(35deg, #a1a1a1db, #fffffff7, #a1a1a1db);
    border-radius: 50px;
    font-weight: 700;
    color: black;
    cursor: pointer;
}

.mt .topbar .title {
    font-size: 20px;
    font-weight: 700;
}

.mt .topbar .logo {
    width: 25px;
    height: auto;
}


.mt .section{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.mt .section .st{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    font-family: "Manrope";
}

.mt .section .st .title{
    font-family: "Kode Mono";
    font-size: 25px;
    /* font-weight: 700; */
}

.mt .section .st .sub{
    font-size: 14px;
    width: 25%;
    text-align: center;
    color:#747474;
    margin-bottom: 20px;
}


.mt .section .st.sc2{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.mt .section .st.sc2 .meta{
    width: 100%;
    height: 100%;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mt .section .st.sc2 .meta .title{
    font-family: "Manrope";
    font-weight: 700;
}

.mt .section .st.sc2 .meta .sub{
    width: max-content;
    text-align: left;
    margin-top: 5px;
}

.mt .section .st.sc2 .inpWrap{
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 30px;
    overflow-y: scroll;
}

.mt .section .st.sc2 .inpWrap .wrap{
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Manrope";
}

.mt .section .st.sc2 .inpWrap .wrap .sel, 
.mt .section .st.sc2 .inpWrap .wrap .basicDetails{
    width: 100%;
    height: max-content;
    padding: 13px;
    font-size: 13px;
    border-radius: 10px;
    font-family: "Manrope";
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.3s;
    margin-bottom: 10px;
    color: #ffffff;
    background: #1a1a1a;
    border: 1px solid #494949;
}

.mt .section .st.sc2 .inpWrap .wrap .basicDetails{
    height: 150px;
    padding: 20px;
    color: grey;
}

.mt .section .st.sc2 .inpWrap .wrap.btns{
    width: 20%;
}

.feleka{
    width: 100%;
    height: calc(100vh - 70px);
    padding: 30px 50px;
    font-family: "Manrope";
}


.feleka .sections{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feleka .sections .data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feleka .sections .data .title{
    font-weight: 700;
    font-size: 20px;
}

.feleka .sections .data .sub{
    width: 60%;
    color: #747474;
    font-size: 14px;
}


.feleka .sections .valcont{
    display: flex;
    flex-direction: column;
}

.feleka .sections .valcont .subtitle{
    font-weight: 700;
    margin-bottom: 5px;
}

.feleka .sections .valcont .count{
    font-family: "Kode Mono";
    font-size: 20px;
    color: gold;
}


.feleka .table{
    width: 100%;
    height: max-content;
    margin-top: 40px;
    background: #0e0e0e;
    border: 1px solid #252525;
    padding: 10px;
    border-radius: 10px;
}

.feleka .table .row{
    height: max-content;
    border-bottom: 1px solid #252525;
    width: 100%;
    display: grid;
    text-align: left;
    padding: 20px;
    grid-template-columns: 0.5fr 1fr 0.3fr 0.3fr 0.3fr 0.2fr;
}

.feleka .table .row.headr{
    padding: 10px 20px;
    font-size: 14px;
    color: #747474;
}

.feleka .table .row .data{
    width: 85%;
    font-size: 14px;
}

.feleka .table .row .data .sub{
    font-size: 13px;
    color: #747474;
    margin-top: 5px;
}

.feleka .table .row .head{
    font-family: "Kode Mono";
}


.feleka .table .row:last-child{
    border-bottom: none;
}

.feleka .table .row .data .check{
    width: 20px;
    height: 20px;
    background: #252525;
}

.feleka .table .row .data .tag{
    width: max-content;
    height: max-content;
    padding: 3px 9px;
    border-radius: 4px;
    background-color: #494949;
    font-size: 12px;
    font-weight: 800;
    font-family: "Kode Mono";
}

.feleka .table .row .data .tag.ok{
    background: #05f9051e;
    border: 1px solid #78ec7824;
    color: #5fff5f;
}

.feleka .table .row .data .tag.del{
    color: #ff5d5d;
    background: #f905051d;
    border: 1px solid #ec78781e;
}

.feleka .table .row .data .tag.warn{
    color: #ffff7b;
    background: #f9f5051b;
    border: 1px solid #ece27819;
}


.feleka .btnwrap{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.feleka .btnwrap .btnl{
    width: 13%;
}