.nav {
    border-right: 1px solid #75757569;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    height: calc(100vh- 70px);
    background-color: black;
}

.nav .linkwrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav .link {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav .link ion-icon {
    font-size: 20px;
    color: #8d8d8d;
}

.nav .link.sel ion-icon,
.nav .link.sel .lk {
    color: white;
}


.nav .link .lk {
    text-decoration: none;
    color: #8d8d8d;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 600;
}